.bcolor{
    background-color: #5D8736;
}
.bt-color {
    background-color: aliceblue !important;
    border: none;
}
.bg1 {
    background-color: #a6d3ea ;
}
.bg2 {
    background-color:#ffebcd ;
}
.bg3 {
    background-color: #feeae9;
}