.bcolor{
    background-color: #5D8736;
}
.bt-color {
    background-color: aliceblue !important;
    border: none;
}
.bg1 {
    background-color: #a6d3ea ;
}
.bg2 {
    background-color:#ffebcd ;
}
.bg3 {
    background-color: #feeae9;
}
.fbg {
    background-color: #31511E;
}
.img1 img{
    width: 150px !important;
}
.icon {
    margin-left: -30px;
}
.icon ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.icon ul li {}
.icon ul li a {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 50%;
}
.icon ul li a:hover{
    background-color: orange;
    color: #fff;
}
.head{
    color: #fff;
    font-size: 30px;
}
.margin {
    margin-top:-10px !important;
}
.list {}
.list ul{
    list-style-type: none;
}
.list ul li {}
.list ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 200;
}